@model GradingSystem.Models.Grade

@{
    ViewData["Title"] = "GradeDetails";
}

<h1>Grade Details</h1>
<script language="javascript">function printPreviewDiv(elementId) { var printContent = document.getElementById(elementId); var windowUrl = 'about:blank'; var uniqueName = new Date(); var windowName = 'Print' + uniqueName.getTime(); var printWindow = window.open(windowUrl, windowName, 'left=50000,top=50000,width=0,height=0'); printWindow.document.write(printContent.innerHTML); printWindow.document.close(); printWindow.focus(); printWindow.print(); printWindow.close(); }</script>
<div id="Div1" Runat="server">
    <div>
        <h4>Grade</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Score)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Score)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Student)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Student.Course)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Subject)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Subject.SubjectCode)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Faculty)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Faculty.FirstName)
            </dd>
        </dl>
    </div>
    </div>
<input class="btnclass" onclick="javascript:onclick=printPreviewDiv('Div1')" type="button" value="Print">
    <div>
        <a asp-action="ViewGrade">Back to List</a>
    </div>
